<h1><%= @product.name %></h1>
<p><%= @product.description %></p>
<p>Price: <%= @product.price %></p>
<p>Stock: <%= @product.stock %></p>

<% if current_user&.buyer %>
  <%= form_with url: orders_path do |form| %>
    <%= form.hidden_field :product_id, value: @product.id %>
    <div>
      <%= form.label :quantity %>
      <%= form.number_field :quantity, value: 1, min: 1, max: @product.stock %>
    </div>
    <div>
      <%= form.submit 'Buy' %>
    </div>
  <% end %>
<% end %>
